.popup__wrapper
  width: 100vw;
  height: 100vh;
  background-color: var(--popup-wrapper-background-color);
  display: flex;
  opacity: 0;
  pointer-events: none;
  justify-content: center
  align-items: center
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  
.popup__wrapper.active
  opacity: 1;
  pointer-events: all;