* 
  box-sizing: border-box;
  margin: 0;
  padding: 0;

html,body 
  height: 100%;

body
  font-family: Roboto, sans-serif;
  font-size: 14px;
  min-width: 320px;

.section
  max-width: 1920px
  padding-left: 10px
  padding-right: 10px

.section__content-wrapper
  width: 100%