[data-color-mode=light]
  --color-text-primary: #fafafa
  --color-text-inversed: #333333
  --header-background-color: #333333
  --logotype-text-color: #fafafa
  --gradient-color-primary: #ff4655
  --gradient-color-secondary: #9c27b0
  --popup-wrapper-background-color: rgba(0, 0, 0, 0.6)
  --input-border-color: #fafafa
  --input-text-color: #fafafa
  --input-validation-icon-ok: #14bf1b
  --input-validation-icon-error: #d22f2f
  --screen-background-color: #f5f5f5
  --step-description-background-color: #dadada